<!-- <app-logged-out></app-logged-out> -->
<!-- {{_showSidebar}} -->
<div *ngIf="!_showSidebar; else elseBlock">
   <router-outlet></router-outlet>
</div>
<ng-template #elseBlock>
  <!-- Container for sidebar(s) + page content -->
  <ng-sidebar-container>

    <!-- A sidebar -->
    <ng-sidebar
      [(opened)]="_opened"
      [mode]="over"
      [closeOnClickOutside]="true">
      <!-- [sidebarClass]="mb-sidebar"> -->
      <!-- <p>Sidebar contents</p> -->
      <app-sidebar-content></app-sidebar-content>
    </ng-sidebar>

    <!-- Page content -->
    <div ng-sidebar-content>
      <div class="toggle-sidebar-btn" (click)="_toggleSidebar()">
        <i class="fa fa-bars"></i>
      </div>
      <app-main-nav-menu></app-main-nav-menu>
      <router-outlet></router-outlet>
    </div>
  </ng-sidebar-container>
 </ng-template>
